<%- include('partials/head') %>

    <% if (user) { %>
        <h1>Welcome to the CookBook App <%= user.username %>!</h1>
    <% } else { %>
        <h1>Welcome to the CookBook App guest.</h1>
    <% } %>

<%- include('partials/footer') %>