<%- include('../partials/head') %>

   <h1><%= currentUser.username %> Pantry item:</h1>
   
    
    <div class="card container" style="width: 18rem;">
        <ul class="list-group list-group-flush">
          <% currentUser.pantry.forEach(p => { %>

            <li class="list-group-item"> <%= p.name %></li>
           
          <% }) %>
           
            
        </a> 
          
        </ul>
        

      </div>
      


<%- include('../partials/footer') %>